*{
  box-sizing: border-box;
}
body{
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
}
a{
  color: #278DA4;
  text-decoration: none;
}
h1{
  font-family: 'Bree Serif', serif;
}
p{
  margin-bottom: 1.25em;
}
.main-content{
  width: 95%;
  max-width: 1000px;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
}
.card{
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;
  border: 1px solid #E1E1E1;
  border-radius: 0.25em;
}
.card h1{
  color: #278DA4;
  margin: 0.35em 0 0;
  line-height: 1.25;
}
.btn{
  font-size: .85em;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  background-color: #278DA4;
  border-radius: 0.35em;
  display: inline-block;
  margin-top: auto;
}
.btn:hover{
  background-color: rgba(39, 141, 164, 0.8);
}
.material-icons{
  color: rgba(39, 141, 164, 0.8);
  font-size: 2.1em;
}